@model IEnumerable<Cinema.Models.Filme>

    @{
        // Trás as viewBags e transforma em uma lista
    var diretores = ViewBag.Diretor as List<Cinema.Models.Diretor>; 
    var generos = ViewBag.Genero as List<Cinema.Models.Genero>;
    }

<a asp-action="Criar"> Cadastrar Filme</a>
@if (Model.Any())
{

    <table class="">

        <thead>

            <tr>
                <th>Capa</th>

                <th>Titulo</th>

                <th>Genero</th>

                <th>Diretor</th>

                <th class="col-acoes">Ações</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var l in Model)
            {
                // Transforma as litas em variaveis, além de traser o diretor e genero de acordo com aquele id que está no filme
                var diretor = diretores.FirstOrDefault(d => d.id_diretor == l.id_diretor);
                var genero = generos.FirstOrDefault(g => g.id_gen == l.genero);
                <tr>

                    <td><img  src="~/@l.capa" alt="@l.titulos"/></td>
                    <td>@l.titulos</td>
                    <td>@(genero != null ? genero.nomeGen : "Desconhecido")</td>

                    <td>@(diretor != null ? diretor.nome : "Desconhecido")</td>

                    <td>

                        <div class="acoes">

                            <form asp-action="Editar" method="get">

                                <input type="hidden" name="id_filme" value="@l.id_filme" />

                                <button type="submit" class="btn btn-editar">Editar</button>

                            </form>

                            <form asp-action="Excluir" method="post" onsubmit="return confirm('Excluir este livro?');">

                                @Html.AntiForgeryToken()

                                <input type="hidden" name="id_filme" value="@l.id_filme" />

                                <button type="submit" class="btn btn-excluir">Excluir</button>

                            </form>

                        </div>

                    </td>

                </tr>

            }

        </tbody>

    </table>
}
else
{
    <p>Nenhum filme encontrado</p>
}