@model Cinema.Models.Filme
@using Cinema.Autenticao;

@{
    var info = ViewBag.Participacoes as List<(string Genero, string Diretor, string Premiacao, string codpremiacao)>;
    var role = Context.Session.GetString(SessionKey.UserRole);
}

<link rel="stylesheet" href="~/css/detalhes.css" />

<div class="container-detalhes">

    <h2 class="titulo-detalhes">Detalhes de premiações do Filme</h2>
    <h2 class="titulo-detalhes">@Model.titulos</h2>

    <img src="~/@Model.capa" alt="@Model.titulos" class="imagem-filme" />

    @if (info != null && info.Any())
    {
        var genero = info.First().Genero;
        var diretor = info.First().Diretor;

        <p class="info-filme"><strong>Gênero:</strong> @genero</p>
        <p class="info-filme"><strong>Diretor:</strong> @diretor</p>

        <table class="tabela-premiacoes">
            <thead>
                <tr>
                    <th>Premiação</th>
                    @if (role == "admin" || role == "gerente")
                    {
                        <th>Ações</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var i in info)
                {
                    <tr>
                        <td>@i.Premiacao</td>
                        @if (role == "admin" || role == "gerente")
                        {
                            <td>
                                <div>
                                    <form asp-action="Editar" method="get" style="display:inline;">
                                        <input type="hidden" name="id_premiacao" value="@i.codpremiacao" />
                                        <button type="submit" class="btn-acao btn-editar">Editar</button>
                                    </form>

                                    <form asp-action="Excluir" method="post" onsubmit="return confirm('Deseja realmente excluir?');" style="display:inline;">
                                        <input type="hidden" name="id" value="@i.codpremiacao" />
                                        <button type="submit" class="btn-acao btn-excluir">Excluir</button>
                                    </form>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="info-filme">O filme em questão, não possui nenhuma premiação.</p>
    }

    <p><a asp-action="Index" class="link-voltar">Voltar</a></p>
</div>