@model IEnumerable<Cinema.Models.Filme>
@using Cinema.Autenticao;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Filmes premiados";
    var role = Context.Session.GetString(SessionKey.UserRole);
}

@if (role == "admin" || role == "gerente")
{
    <a asp-action="Criar">Cadastrar Premiação</a>
}

<h2>Lista de Filmes Premiados</h2>

<form method="get" asp.action="Index">
    <input list="filmes" name="q" value="@ViewBag.q" placeholder="Buscar por titulo" />
    <datalist>
        @if (ViewBag.Titulos is IEnumerable<string> ts)
        {
            foreach(var t in ts)
            {
                <option value="t"></option>
            }
        }
    </datalist>

    <select name="g" asp-items="ViewBag.Genero">
        <option value="">(selecione o gênero do filme)</option>
    </select>

    <button type="submit">Buscar</button>
</form>

@if (Model.Any())
{
    <div>
        @foreach (var l in Model)
        {
            <div>
                <div>
                    @if (!string.IsNullOrWhiteSpace(l.capa))
                    {
                        <img src="~/@l.capa" alt="@l.titulos" />
                    }
                    else
                    {
                        <span style="color:#aaa">Sem capa</span>
                    }
                </div>
                <div>

                    <a asp-action="Detalhes" asp-route-id="@l.id_filme">@l.titulos</a>
                    <input type="hidden" value="@l.id_filme" />
                </div>

            </div>
        }

    </div>

}
else
{
    <p>Nenhum filme premiado encontrado</p>
}