@model IEnumerable<Cinema.Models.Usuario>


    <a asp-action="Criar"> Cadastrar Usuário</a>

<table class="">

    <thead>

        <tr>

            <th>Nome</th>

            <th>Email</th>

            <th>Cargo</th>

            
            <th class="col-acoes">Ações</th>

        </tr>

    </thead>

    <tbody>

        @foreach (var l in Model)

        {

            <tr>

                <td>@l.Nome /></td>

                <td>@l.Email</td>

                <td>@l.role</td>

                <td>

                    <div class="acoes">

                        <form asp-action="Editar" method="get">

                            <input type="hidden" name="id" value="@l.id" />

                            <button type="submit" class="btn btn-editar">Editar</button>

                        </form>

                        <form asp-action="Excluir" method="post" onsubmit="return confirm('Excluir este livro?');">

                            @Html.AntiForgeryToken()

                            <input type="hidden" name="id" value="@l.id" />

                            <button type="submit" class="btn btn-excluir">Excluir</button>

                        </form>

                    </div>

                </td>

            </tr>

        }

    </tbody>

</table> 